In [1]:
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
ratings_df = pd.read_csv("ratings.csv")

In [3]:
user_df = ratings_df.groupby(by="userId",as_index = False).count()

In [4]:
user_df["count"] = user_df["movieId"]

In [5]:
user_df = user_df[["userId","count"]]
user_df["movies"] = ""

In [6]:
user_df.index = user_df["userId"]

In [8]:
for i in range(len(user_df)):
    list_m = list(ratings_df[(ratings_df["userId"] == i)]["rating"])
    user_df["movies"][i] = list_m

In [11]:
list_m = list(ratings_df[(ratings_df["userId"] == 162541)]["rating"])
user_df["movies"][162541] = list_m

In [12]:
user_df.to_csv("user.csv")

In [13]:
user_df

        userId  count                                             movies
userId
1            1     70  [5.0, 3.5, 5.0, 5.0, 3.5, 4.0, 3.5, 3.5, 5.0, ...
2            2    184  [3.5, 0.5, 5.0, 4.0, 4.5, 4.0, 5.0, 0.5, 1.0, ...
3            3    656  [4.0, 4.5, 4.5, 5.0, 4.0, 4.0, 3.0, 5.0, 4.0, ...
4            4    242  [3.0, 3.5, 4.0, 4.5, 4.0, 2.0, 4.0, 4.0, 3.5, ...
5            5    101  [4.0, 4.0, 5.0, 5.0, 2.0, 5.0, 5.0, 4.0, 3.0, ...
...        ...    ...                                                ...
162537  162537    101  [4.0, 3.0, 5.0, 4.0, 5.0, 4.0, 5.0, 5.0, 4.0, ...
162538  162538    154  [2.0, 4.0, 4.0, 4.0, 4.5, 4.0, 4.5, 1.5, 2.5, ...
162539  162539     47  [4.0, 5.0, 5.0, 3.0, 4.0, 5.0, 5.0, 5.0, 4.0, ...
162540  162540     88  [4.5, 0.5, 1.0, 0.5, 3.0, 5.0, 4.0, 2.0, 1.0, ...
162541  162541    182  [5.0, 5.0, 4.5, 5.0, 2.5, 2.5, 3.0, 3.5, 2.5, ...

[162541 rows x 3 columns]